:root {
  --main-branding-color: #6c63ff;
  --second-branding-color: #f9f7fe;
  --third-branding-color: #ffffff;
  --fourth-braning-color: #272142;
  --heading-font: "Playfair Display", serif;
  --second-font: "Poppins", sans-serif;
}
h2,
h3,
p,
ul {
  font-family: var(--second-font);
}
h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 64px;
}
h3 {
  font-weight: bold;
  margin: 0;
}
p {
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--second-branding-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
  color: var(--fourth-braning-color);
}
.hero h3 {
  font-size: 36px;
}
.hero h1 {
  font-size: 96px;
}
.btn {
  background-color: var(--main-branding-color);
  color: var(--third-branding-color);
  font-family: var(--second-font);
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  margin: 10px;
  line-height: 27px;
}
.btn:hover {
  background-color: var(--main-branding-color);
  color: var(--third-branding-color);
}
.btn-branding-outline {
  font-size: 18px;
  border: 1px solid;
  border-radius: 4px;
  padding: 18px 30px;
  line-height: 27px;
  background-color: var(--third-branding-color);
  color: var(--main-branding-color);
  border-color: var(--main-branding-color);
}
.section-headline p {
  color: var(--fourth-braning-color);
}
.project-description h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 64px;
}
.project-description p {
  font-weight: 400;
}
.project-description {
  padding: 120px 60px 0;
}
.content-container {
  padding: 80px 20px;
}
.content-container h1 {
  line-height: 80px;
}
.content {
  margin: 50px;
}
.content h2 {
  font-weight: 700;
  color: var(--fourth-braning-color);
}
.content h3 {
  font-size: 24px;
  line-height: 36px;
}
.content p {
  font-size: 14px;
  line-height: 30px;
}
.content-container h2,
.section-headline p {
  font-size: 18px;
  line-height: 27px;
}
nav {
  margin: 15px;
}
nav img {
  max-width: 150px;
  max-height: 50px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  font-size: 16px;
  line-height: 45px;
  list-style: none;
  text-decoration: none;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--fourth-braning-color);
}
nav a:hover,
li.active {
  color: var(--main-branding-color);
}
.footer {
  margin-top: 150px;
  background-color: var(--second-branding-color);
  border-radius: 10px;
  padding: 30px 120px;
}
.footer h1 {
  font-size: 48px;
}
.email {
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
  font-family: var(--second-font);
  font-size: 24px;
  font-weight: 400px;
  line-height: 1.5;
}
.email:hover {
  color: var(--main-branding-color);
}
.contact-btn {
  padding-left: 160px;
}
.social-links a {
  color: var(--main-branding-color);
  background-color: var(--second-branding-color);
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
}
.social-links {
  margin: 60px 0;
}

.git-link {
  text-align: center;
  font-size: 14px;
  margin: 15px;
}
.git-link a {
  text-decoration: none;
  color: var(--fourth-braning-color);
}
.git-link a:hover {
  color: var(--main-branding-color);
}

@media (max-width: 992px) {
  .col-6 {
    width: 100%;
  }
  .project-description,
  .content-container {
    padding: 0;
    text-align: center;
  }
  .home img {
    display: none;
  }
  .hero {
    padding: 40px;
  }
  .logo {
    display: none;
  }
  nav ul {
    width: 100%;
    text-align: center;
  }
  .footer {
    margin-top: 70px;
    padding: 30px;
  }
  .footer h1 {
    display: none;
  }
  .footer p {
    font-size: 28px;
    text-align: center;
  }
  .contact-btn {
    display: none;
  }
  .content-container h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .second-row {
    margin-bottom: 24px;
  }
  .headshot {
    margin-bottom: 20px;
  }
}
